@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

:root {
    --nav-height: 50px;
    --footer-height: 20px;
}

body {
    background-image: linear-gradient(
                            to bottom right,
                            rgba(226, 117, 137, 0.932),
                            rgb(249, 205, 212, 0)
                        ),
                      url("../images/tile.png");
    background-repeat: repeat;
    /* background-size: 100% auto; */
    background-color: #9667e0;
    color: 	#fbfaff;
    font-family: 'Alexandria', 'Trebuchet MS', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template:
        "nav    " var(--nav-height)
        "content" auto
        "footer " var(--footer-height) /
         auto;
}

.navbar {
    background-color: #242F36;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                0 2px 2px rgba(0, 0, 0, 0.12),
                0 4px 4px rgba(0, 0, 0, 0.12);
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    overflow: visible;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 120px 100px 100px 100px;
    align-items: center;
}

.brand-icon {
    border-radius: 0;
    padding: none;
    margin: none;
    height: 48px;
    width: auto;
}

.navbar-button {
    border: thin solid rgba(251, 250, 255, 0);
    border-radius: 10px;
    color: #e5e4e7;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.navbar-button:hover {
    color: 	#fbfaff;
    font-weight: bolder;
}

.navbar-button .active {
    color: 	#fbfaff;
    background-color: #503a74;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                 0 2px 2px rgba(0, 0, 0, 0.12),
                 0 4px 4px rgba(0, 0, 0, 0.12),
                 0 8px 8px rgba(0, 0, 0, 0.12),
                 0 16px 16px rgba(0, 0, 0, 0.12);
}


.content {
    background-color:  rgba(150, 103, 224, 0.4);
    color: #fbfaff;
    padding: 50px 20% 50px 20%;
    overflow-x: scroll;
}

.heading{
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                 0 2px 2px rgba(0, 0, 0, 0.12),
                 0 4px 4px rgba(0, 0, 0, 0.12),
                 0 8px 8px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.description {
    padding: 15px;
    background-color: rgba(36, 47, 54, 0.7);
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                 0 2px 2px rgba(0, 0, 0, 0.12),
                 0 4px 4px rgba(0, 0, 0, 0.12),
                 0 8px 8px rgba(0, 0, 0, 0.12),
                 0 16px 16px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                0 2px 2px rgba(0, 0, 0, 0.12),
                0 4px 4px rgba(0, 0, 0, 0.12),
                0 8px 8px rgba(0, 0, 0, 0.12),
                0 16px 16px rgba(0, 0, 0, 0.12);
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 200px auto;
}
    
.description img {
    background-color: rgba(36, 47, 54, 0.75);
    border-radius: 10px;
    justify-self: center;
}

.description p {
    padding: 2%;
}

.invite {
    background-color: rgba(36, 47, 54, 0.7);
    padding: 2%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% auto 20%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                 0 2px 2px rgba(0, 0, 0, 0.12),
                 0 4px 4px rgba(0, 0, 0, 0.12),
                 0 8px 8px rgba(0, 0, 0, 0.12),
                 0 16px 16px rgba(0, 0, 0, 0.12);
    align-items: center;
}

.invite-link {
    border-radius: 5px;
    border: none;
    font-family: 'Alexandria', 'Trebuchet MS', sans-serif;
    background-color: rgba(36, 47, 54, 0.75);
    color: #fbfaff;
    padding: 1%;
}

.links {
    margin-top: 2%;
    margin-left: 2vw;
    padding-left: 2vw;
    position: relative;
}

.links a {
    outline-offset: 2px;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 1vw;
    padding: 0.8vh 1vw 0.8vh 1vw;
    border-radius: 0.3vw;
    margin-left: 1.5vw;
}

.button {
    width: 180px;
    background-color: rgba(226, 117, 137, 0.3);
    border: thin solid rgb(0, 0, 0);
    border: none;
    color: #fbfaff;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(226, 117, 137, 0.7);
}

h4 {
    padding: 0;
    margin: 0;
}

.links .button-dark {
    background-color:#503a74;
    outline: 2px solid #fbfaff;
    color: #fbfaff;
}

.button-light :hover {
    background-color:#503a74;
    outline: 2px solid #503a74;
    color: #fbfaff;
}

.footer {
    background-color: #242F36;
    color: #fbfaff;
    height: 20px;
    width: 100%;
    font-style: italic;
    height: 20px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
background: rgba(241, 241, 241, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(74, 97, 110);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #242F36;
}
