{% extends "yae/base.html" %}
{% block content %}
<div class="desc">
    <h1 class="heading">Yae Miko &mdash; A bot for all your Discord server's needs!</h1>
    <p class="text">Invite Yae Miko to your Discord server and enjoy all features, for free!<br>
    <ul>
        <li>Server Management</li>
        <li>Music & Entertainment</li>
        <li>News & Updates</li>
    </ul>
    ...and so much more!</p>
</div>
<div class="links">
    <a class="button-light" href="">INVITE YAE MIKO</a>
    <a class="button-dark" href="">COPY INVITE LINK</a>
</div>
{% endblock content %}
